<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <title th:fragment = "styledHeader" class="fancyTitle" th:text="${Bookworm}"></title>
</head>
<body>
<nav th:fragment="page-header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Bookworm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{'/'}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/search'}">Search</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form th:action="@{/user/add}" method = "post" class="d-flex">
                <label>Username
                <input class="form-control me-2" type="text" placeholder="Username" aria-label="Username" th:name="userName">
                </label>
                <label>Password
                    <input class="form-control me-2" type="password" placeholder="Password" aria-label="Password" th:name="password">
                </label>
                <button class="btn btn-outline-success" type="submit">Log In</button>
            </form>
        </div>
    </div>
</nav>

</body>
</html>




