<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

    <div th:replace="fragments :: page-header"></div>

    <h1>Welcome to BookWorm!! </h1>
    <h2>Brought to you by: Kate D., Iain S., Breon G., and Mark J!</h2>


    <div class="container">
        <div class="row">
            <div class="col">
                <p class = lead>
                    This is a mobile and dynamic application that allows the user to lend and borrow books.
                </p>
            </div>
        </div>

    </div>





</body>
</html>