<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <div th:replace="fragments :: page-header"></div>
    <h1>Welcome to BookWorm!! This is our landing page!</h1>
    <form method="post">
        <label>username
        <input class="form-control me-2" type="text" placeholder="Username" aria-label="Username" th:name="username">
        </label>
        <label>password</label>
        <input type="password" th:name="password">
        <input type="submit" value="SUBMIT">
    </form>


    <a th:href="@{'/users/add'}">New User</a>
</body>
</html>