<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Search Page</title>
</head>
<body>
<div th:replace="fragments :: page-header"></div>

    <div class="container body-content">

        <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

        <form th:action="@{/search/results}" method = "post">
            <h2>Search by:</h2>

            <p>
<!--            <span th:each="column : ${columns}">-->
<!--                <input-->
<!--                        type="radio"-->
<!--                        name="searchType"-->
<!--                        th:id="${column.key}"-->
<!--                        th:value="${column.key}"-->
<!--                        th:checked="${column.key == 'all'}"/>-->
<!--                <label th:for="${column.key}" th:text="${column.value}"></label>-->
<!--            </span>-->

            </p>

            <div class = "input-group">
                <label class = "form-label" for="searchTerm"> Keyword:
                    <input class = "form-control" type="text" name="searchTerm" id="searchTerm" />
                </label>

            </div>

            <input class = "btn btn-primary" type="submit" value="Search" />
        </form>

    </div>
</body>
</html>